<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three.js Flask 3D Viewer</title>

    <!-- Import Map を追加 -->
    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.128.0/build/three.module.js",
                "three/examples/jsm/controls/OrbitControls.js": "https://unpkg.com/three@0.128.0/examples/jsm/controls/OrbitControls.js",
                "three/examples/jsm/loaders/STLLoader.js": "https://unpkg.com/three@0.128.0/examples/jsm/loaders/STLLoader.js",
                "three/examples/jsm/loaders/OBJLoader.js": "https://unpkg.com/three@0.128.0/examples/jsm/loaders/OBJLoader.js",
                "three/examples/jsm/loaders/PLYLoader.js": "https://unpkg.com/three@0.128.0/examples/jsm/loaders/PLYLoader.js"
            }
        }
    </script>

</head>

<body style="margin: 0;">
    <canvas id="threeCanvas"></canvas>
    <p id="matchRate">一致率: 0%</p>
    
    <style>
        #matchRate {
            position: absolute;
            top: 70vh;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            z-index: 1;
            margin: 0 auto;
            color: white;
            font-size: 24px;
            font-weight: bold;
        }
    </style>

    <!-- Three.js の ESモジュールを含むスクリプト -->
    <script type="module" src="{{ url_for('static', filename='asyncImporters.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>